@import url('spinner.css');
@import url('table.css');
@import url('search-form.css');
@import url('breaches-list.css');
@import url('breach-details.css');
@import url('user-lookup.css');

body {
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 { font-size: 1.8rem; }

p {
    line-height: 1.4;
    margin: 5px 0 7px;
}

strong {
    font-weight: 500;
}

a {
    border-bottom: 1px solid hsla(212, 42%, 36%, 0.2);
    color: hsla(212, 42%, 36%, 1);
    text-decoration: none;
    transition: 0.15s all ease;
}

a:hover {
    border-color: hsla(212, 42%, 36%, 0.6);
    padding-bottom: 2px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.infinite-spinner.middle-page {
    left: calc(50% - 35px);
    position: fixed;
    top: calc(50% - 35px);
    z-index: 100;
}

/* override any size set by a class */
.infinite-spinner.middle-page {
    height: 70px !important;
    width: 70px !important;
}

.infinite-spinner.middle-page:after {
    height: 69px !important;
    width: 69px !important;
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

label, select, button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

button {
    background: #FFF;
    border: 1px solid #BBB;
    border-radius: 4px;
    margin: 0 3px;
    padding: 8px 12px;
    transition: 0.1s ease all;
}

button:hover {
    background: #F2F2F2;
}

button.light {
    background: transparent;
    border-color: #CDCDCD;
    color: #FFF;
}

button.light:hover {
    background: hsla(0, 0%, 100%, 0.15);
}

button.active {
    background: #F2F2F2;
    box-shadow: inset 0px 1px 4px -1px hsla(0, 0%, 0%, 0.6);
}

button.light.active {
    background: hsla(0, 0%, 100%, 0.2);
    box-shadow: inset 0px 0 4px -1px hsla(0deg, 0%, 100%, 0.6);
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group button {
    border-right-width: 0;
    margin: 0;
}

.btn-group button:first-child {
    border-radius: 50px 0 0 50px;
    padding-left: 16px;
}

.btn-group button:last-child {
    border-right-width: 1px;
    border-radius: 0 50px 50px 0;
    padding-right: 16px;
}

.main {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px 20px;
    max-width: 1400px;
    min-height: 100vh;
}

header {
    background: #24547E;
    box-sizing: border-box;
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .header-inner {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    padding: 10px 20px;
    width: 100%;
}

header h2 {
    color: #FFF;
    font-weight: 200;
    margin: 0;
}
