tbody.highlight-breach-row {
    background: #F1F1F1;
}

.details-row [id$="details-wrapper"] {
    transform: translateY(-100%);
    transition: 0.5s ease all;
}

.details-row [id$="details-wrapper"].show-content {
    transform: translateY(0%);
}
.details-row [id$="details-wrapper"].show-content.close-content {
    max-height: 0 !important;
}
