table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 17px;
    max-width: 100%;
    width: 100%;
}

table th,
table td {
    padding: 15px 10px;
    line-height: 16px;
    text-align: left;
    vertical-align: top;
}

table thead tr {
    background: #222;
    box-shadow: 0 -2px 0 #FFF;
    color: #FFF;
    position: sticky;
    top: 82px;
    z-index: 10;
}

table thead tr th:first-child {
    border-radius: 6px 0 0 6px;
}

table thead tr th:last-child {
    border-radius: 0 6px 6px 0;
}

table tbody tr {
    border-top: 1px solid #ddd;
}

table tbody:first-of-type tr {
    border-top: none;
}

table tbody tr:hover {
    background: #f8f8f8;
    transition: 0.1s ease all;
}

table th {
    font-weight: 500;
}

table thead th {
    vertical-align: middle;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}
